{% extends 'parent.html' %}
{% block content %}
<!-- PAGE CONTAINER-->
<div class="page-container">
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                           <div class="col-12">
                            <div class="card shadow">
                                <div class="card-header bg-primary">
                                    <h3 class=" text-white">Change Password</h3>
                                </div>
                                <div class="card-body">
                                  <form action="" method="post">
                                      {% csrf_token %}
                                      <div class="form-group">
                                          <label for="txtoldpassword">Existing Password</label>
                                        <input type="password" name="txtoldpassword" id="txtoldpassword" class="form-control" required >
                                      </div>
                                      <div class="form-group">
                                          <label for="txtnewpassword">New Password</label>
                                        <input type="password" name="txtnewpassword" id="txtnewpassword" class="form-control" required >
                                      </div>
                                      <div class="form-group">
                                          <label for="txtconfirmpassword">Confirm new password</label>
                                        <input type="password" name="txtconfirmpassword" id="txtconfirmpassword" class="form-control" required >
                                      </div>
                                      <div class="form-group">
                                          
                                        <input type="submit" value="Change Password" class="btn btn-primary">
                                      </div>
                                     <p class="text-center text-danger">
                                        {{message}}
                                     </p>
                                  </form>
                                    
                                </div>
                             </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}