{% extends 'parent.html' %}
{% block content %}
<!-- PAGE CONTAINER-->
<div class="page-container">
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                           <div class="col-12">
                            <div class="card shadow">
                                <div class="card-header bg-primary">
                                    <h3 class=" text-white">Category  Management</h3>
                                </div>
                                <div class="card-body">
                                   <form action="" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                        <table class="table table-bordered">
                                                {{products_form}}
                                            <tr>
                                                <td colspan="2" align=center>
                                                    <input type="submit" value="Add Product" class="btn btn-primary">
                                                </td>
                                            </tr>
                                        </table>
                                   </form>                                  
                                </div>
                             </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}