<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>load demo</title>
</head>

<body>
    <h1>Example of load demo</h1>
    <button type="button" id="btngetdatetime">Get Current Date Time</button>
    <div id="mydiv">
        <h2>output will come here</h2>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btngetdatetime").click(function () {
                //load method 
                var url = "{% url 'ajaxloaddemo' %}";
                $("#mydiv").load(url);
            });
        });
    </script>
</body>

</html>